.styles {
  &-header {
    font-size: 50px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

  &-image {
    $size: 500px;
    width: $size;
    height: 600px;
    margin: 25px 0 0 0;
  }

  &-link {
    display: block;
    margin: 20px 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #e8e8e8;
    }
  }
}
