.closedFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  cursor: pointer;
  width: 1.8vw;
  height: 1.8vw;
  background-color: #d1d1d1;
  border: 0.6vh solid transparent;

  &:hover {
    filter: brightness(1.1);
  }
}

.changedBorderColor {
  border-color: white #9e9e9e #9e9e9e white;
}

.transparentClosedFrame {
  border-color: transparent;
}

.revealedFrame {
  border-color: #dddddd;
  cursor: default;

  &:hover {
    filter: brightness(1);
  }
}

.bombFrame {
  background-color: #ec433c;
}

.bombEntity {
  border-radius: 50%;
  width: 1vh;
  height: 1vh;
  background-color: #333;
}

.flagComponent {
  width: 0px;
  height: 0px;

  border-top: 0.5vw solid transparent;
  border-bottom: 0.5vw solid transparent;
  border-left: 0.5vw solid #ec433c;
}

.flagTransparent {
  border-left: 0.5vw solid #f19996;
}
