.closedFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  cursor: pointer;
  width: 1.8vw;
  height: 1.8vw;
  background-color: #d1d1d1;
  border: 0.6vh solid transparent;

  &:hover {
    filter: brightness(1.1);
  }
}

.changedBorderColor {
  border-color: white #9e9e9e #9e9e9e white;
}

.transparentClosedFrame {
  border-color: transparent;
}

.emptyFrame {
  border-color: #dddddd;
  cursor: default;

  &:hover {
    filter: brightness(1);
  }
}
