.legendParent {
  font-size: 1rem;
  margin: 0 auto 2vw;
  line-height: 1.25rem;
}

.firstAction {
  color: #ec433c;
}

.secondAction {
  color: #2a48ec;
}

.flagComboParent {
  background: #e3e3e3;
}
